/* shared styles here  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *{
    border: 1px solid red;
  }
  
  body{
    border: 2px dashed green;
  } */

main{
    background: rgb(0, 0, 0);
}

@font-face {
    font-family: myfont;
    src: url(assets/Miama.ttf);
}

.hidden{
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
/* shared styles ends here  */

/* header section styles here  */

/* navbar styles here  */
.header-container{
    margin: 0px 200px;
}
#header{
    background: linear-gradient(180.00deg, rgb(0, 0, 0),rgba(119, 119, 119, 0) 170%),linear-gradient(360.00deg, rgb(0, 0, 0),rgba(119, 119, 119, 0) 170%)
    ;
    width: 100%;
    padding-top: 60px;
    /* margin-bottom: 100px; */
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 25px;
}

.navbar-container h3{
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
}

.menubar, li, a{
    
    list-style: none;
    text-decoration: none;
}

.hamburger{
    display: none;
}

.menubar ul{
    display: flex;
    justify-content: space-around;
    gap: 47px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 12px 4px;
    border-radius: 37px;
    padding-right: 20PX;
}

.menubar ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

.menubar ul li a span{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 37px;
}
/* navbar styles ends here  */

/* banner styles here  */

/* banner styles here  */

.banner-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}

.banner-text-content{
    width: 600px;
    height: 440px;
}

.banner-text-content span{
    font-family: myfont; 
    font-size: 150px;
    font-weight: normal; 
}

.banner-text-content h1{
    font-size: 78px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 28px;
    width: 520px;
    line-height: 90px;
}

.banner-text-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}

.banner-text-content .btn-1{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
    margin-right: 15px;
    width: 224px;
    height: 54px;
    transition: background-color 0.5s ease;
}
.banner-text-content .btn-2{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    transition: background-color 0.5s ease;
}

.banner-text-content .btn-1:hover{
    background: transparent;
    cursor: pointer;
    border: 2px solid #fff;
    transition: background-color 0.5s ease;
}

.banner-text-content .btn-2:hover{
    background: #E6533C;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease;
}



.s-500, .s-350{
    position: absolute;
}

.s-350{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
    height: 96px;
    text-align: center;
    top: 550px;
    right: 470px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle{
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.s-350 .text-content h3{
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    text-align: left;
}

.s-350 .text-content p{
    font-size: 16px;
    font-weight: normal;
    color: rgba(239, 237, 232, 65%);
    text-align: left;
}

.s-500{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    width: 193px;
    height: 98px;
    text-align: center;
    right: 140px;
    top: 270px;
}

.texts{
    margin: 17px 23px;
}

.texts h3{
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    color: #fff;
}

.texts p{
    font-size: 13px;
    font-weight: normal;
    color: rgba(255, 255, 255, 65%);
    text-align: left;
}


/* header section ends styles here  */



/* main section styles here  */
/* section-1 styles here  */
.section-1{
    margin: 0px 200px;
    padding-bottom: 135px;
}

.section-1 h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 100px;

}

.section-1>p{
    font-size: 14px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 60px;
}

.img-box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img-box-container img{
    border-radius: 50%;
    width: 260px;
    height: 260px;
    margin-bottom: 30px;
}

.img-box-container h4{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 6px;
    text-align: center;
}

.img-box-container p{
    font-size: 14px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
/* section-1 styles ends here  */

/* section-2 styles here  */
.section-2{
    margin: 0px 200px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-left: 50px;
    gap: 250px;
    border-radius: 18px;
    margin-bottom: 100px;
}

#img-sec-2{
    border-radius: 18px;
}

.section-2-text-contents h1{
    font-size: 48px;
    font-weight: bolder;
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
}

.section-2-text-contents p{
    font-size: 16px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 35px;
}

.section-2-text-contents button{
    background-color: rgba(230, 83, 60, 100%);
    border: none;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    width: 224px;
    height: 54px;
    transition: background-color 0.5s ease;
}

.section-2-text-contents button:hover{
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(34, 34, 34); 
    transition: background-color 0.5s ease;
}
/* section-2 styles ends here  */

/* section-3 styles here  */
.section-3{
    margin-bottom: 100px;
}
.section-3-txt-content{
    margin: 0px 350px;
}

.section-3-txt-content h1{
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
}

.section-3-txt-content p{
    font-size: 18px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    margin-bottom: 90px;
}

/* bmi calculator styles here  */
.bmi-calculator-container{
    background-color: rgba(34, 34, 34, 100%);
    padding: 55px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bmi-calculator-table h3, .bmi-txt h3{
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    margin-bottom: 55px;
}

.bmi-txt h3{
    margin-bottom: 24px;
}

.bmi-txt p{
    font-size: 14px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    margin-bottom: 35px;
}

.bmi-calculator-table table, th, tr, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-spacing: 0px;
}

table td, th{
    color: white;
    padding: 13px 70px 13px 18px;
}

table th{
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 15px 70px 15px 18px;
}

table td{
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

.hwas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    column-gap: 12px;
}

.inpt-height input, .inpt-weight input, .inpt-age input{
    padding-left: 20px;
    width: 304px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
}

.sel-sex select{
    width: 304px;
    height: 48px;
    border-radius: 8px;
    padding-left: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: normal;
    margin-bottom: 12px;
}

.sel-factor select{
    border-radius: 8px;
    padding-left: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: normal;
    width: 622px;
    height: 48px;
    margin-bottom: 35px;
}
select option{
    background: black;
    color: white;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.3);
}

select:focus option{
    background-color: rgb(68, 65, 65);
}

.inpt-button button{
    background-color: rgba(230, 83, 60, 100%);
    border: none;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    width: 224px;
    height: 54px;
    transition: background-color 0.5s ease;
}

.inpt-button button:hover{
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(34, 34, 34); 
    transition: background-color 0.5s ease;
}
/* bmi calculator styles ends here  */
/* section-3 styles here  */

/* section-4 styles here  */
.section-4{
    margin: 0px 200px;
    padding-bottom: 100px;
}

.section-4 h1{
    font-size: 48px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.section-4>p{
    font-size: 20px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 60px;
}

.section-4-img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 18px;
}

.section-4-img-container > div{
    position: relative;
}

.info{
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
}

.section-4-img-container img{
    width: 100%;
    height: 100%px;
    object-fit: cover;
    border-radius: 18px;
}

.section-4-img-container h5{
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    text-align: left;
}

.section-4-img-container p{
    font-size: 14px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}
/* section-4 styles ends here  */
/* main section styles ends here  */

/* footer section starts here  */
.footer-container{
    background-color: rgb(26, 25, 25);
}
.whole-footer{
    padding: 70px 200px 35px 200px;
}
.footer-content{
    display: flex;
    justify-content: space-between;  
    margin-bottom: 80px;  
}

.footer-content .first-part h1{
    font-size: 70px;
    font-weight: bolder;
    color: #E6533C;
    letter-spacing: 0px;
    font-style: italic;
    margin-bottom: 25px;
}

.footer-content .first-part p{
    font-size: 15px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    line-height: 24px;
}

.footer-content .first-part{
    width: 443px;
}

.second-part h3, .third-part h3{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}

.second-part ul li, .third-part ul li{
    margin-bottom: 20px;
    font-size: 20px;
}

.second-part ul li a, .third-part ul li a{
    color: rgba(255, 255, 255, 0.5);
}

hr{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 36px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

center{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}
/* footer section ends here  */

/* challenge section starts here  */
/* section-5 styles starts here  */
.section-5>h1{
    text-align: center;
    color: white;
    font-size: 48px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.section-5-container{
    /* background-color: rgba(255, 255, 255, 0.1); */
    margin: 0 200px;
    padding-bottom: 50px;
}
.section-5-content-1, .section-5-content-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, black, rgba(255, 255, 255, 0.1));
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    gap: 100px;
}

.section-5-content-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1), black);
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    gap: 100px;
    flex-direction: row-reverse;
}

.section-5-content-3{
    margin-bottom: 0;
}

.section-5-content-1 img, .section-5-content-2 img, .section-5-content-3 img{
    width: 30%;
    border-radius: 20px;
}

.section-5 .section-5-container h1{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-5 .section-5-container p, ul{
    color: rgba(255, 255, 255, 0.5);
}

.btnlike-1, .btnlike-2, .btnlike-3{
    border: 2px solid #E6533C;
    width: 30%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.content-3{
    background-color: rgba(255, 255, 255, 0.1);
    width: 380px;
    text-align: left;
    padding: 5px 15px;
    border-radius: 10px;
}

.section-5 ul li{
    list-style: none;
    margin-top: 30px;
}

.section-5 li img{
    width: 16px;
    height: 16px;
}

.section-5 ul li{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
} 

.orange{
    color: #E6533C;
}
/* section-5 styles ends here  */

/* section-5 styles starts here  */
.section-6{
    background-image: linear-gradient(0deg, #302a2a, rgba(255, 255, 255, 0.5));
    padding: 100px 0px;
}

.section-6>p{
    color: #fff;
    text-align: center;
    border: 3px solid #E6533C;
    width: 20%;
    margin: 0 auto;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 48px;
    margin-bottom: 50px;
}

.section-6>h1{
    color: #fff;
    text-align: center;
    font-size: 64px;
    margin-bottom: 100px;
}

.section-6 span img{
    width: 24px;
    height: 24px;
}

.pricing-container .pricing-1, .pricing-2, .pricing-3{
    background-color: rgba(0, 0, 0, 1);
    width: 30%;
    height: 740px;
    padding: 50px 40px;
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.pricing-2{
    width: 35%;
    height: 830px;
}

.pricing-content{
    margin: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.pricing-1 h2, .pricing-3 h2{
    font-size: 48px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #fff;
}

.pricing-2 h2{
    font-size: 54px;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #fff;
}

.pricing-1 h1, .pricing-3 h1{
    font-size: 64px;
    text-align: center;
    color: #E6533C;
    margin-bottom: 50px;
}

.pricing-2 h1{
    font-size: 70px;
    text-align: center;
    color: #E6533C;
    margin-bottom: 50px;
}

sub{
    font-size: 20px;
    color: #fff;
}

.section-6 ul li{
    list-style: none;
    color: white;
    line-height: 70px;
    text-align: center;
}

.pricing-2 ul li{
    line-height: 80px;
    font-size: 20px;
    font-weight: normal;
}

.section-6 ul{
    margin-bottom: 20px;
}

.pricing-1 p, .pricing-2 p, .pricing-3 p{
    font-size: 23px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-bottom: 20px;
}

.pricing-2 p{
    font-size: 28px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-bottom: 40px;
}

.section-6 button{
    background-color: rgba(230, 83, 60, 100%);
    border: none;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    width: 224px;
    height: 54px;
    transition: background-color 0.5s ease;
    margin: 0 75px;
}

.pricing-2 button{
    background-color: rgba(230, 83, 60, 100%);
    border: none;
    border-radius: 42px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    width: 250px;
    height: 60px;
    transition: background-color 0.5s ease;
    margin: 0 100px;
}

.section-6 button:hover{
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(34, 34, 34); 
    transition: background-color 0.5s ease;
}

.review-container .reviewbox-1 img, .reviewbox-2 img, .reviewbox-3 img{
    width: 150px;
    height: 150px;
}

.review-container .reviewbox-1 p, .reviewbox-2 p, .reviewbox-3 p{
    font-size: 25px;
    color: white;
    text-align: center;
}

.review-container .human img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.reviewbox-1, .reviewbox-2, .reviewbox-3{
    border: 2px solid #E6533C;
    width: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.review-container{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    gap: 20px;
}
/* section-5 styles ends here  */
/* challenge section ends here  */



/* media query for different devices */
/* for mobile device */
/* banner section styles */
@media screen and (max-width: 576px) {
    .header-container{
        margin: 0px 30px;
    }

    .navbar-container{
        margin-bottom: 51px;
    }

    .navbar-container .menubar{
        display: none;
    }

    .navbar-container .hamburger {
        display: block;
    }

    .hamburger img{
        width: 30px;
        height: 30px;
    }

    #header{
        max-width: 576px;
    }

    .banner-contents{
        flex-direction: column;
    }

    .banner-text-content h1{
        font-size: 40px;
        font-weight: 900;
        width: 70%;
        line-height: 50px;
    }

    .banner-text-content span{
        font-size: 80px;
        font-weight: normal;
    }

    .banner-text-content p{
        font-size: 16px;
        margin-bottom: 28px;
        width: 60%;
    }

    .banner-text-content{
        width: 100%;
        height: 200px;
        margin-bottom: 150px;
    }

    .s-350{
        left: 100px;
        top: 970px;
        width: 155px;
        height: 72px;
    }

    .s-350 .text-content h3{
        font-size: 18px;
        font-weight: 900;
        color: #fff;
        text-align: left;
    }

    .s-350 .text-content p{
        font-size: 12px;
        font-weight: normal;
        color: rgba(239, 237, 232, 65%);
        text-align: left;
    }

    .s-500{
        top: 750px;
        left: 100px;
        width: 145px;
        height: 74px;
    }

    .texts{
        margin: 12px 17px;
    }

    .texts h3{
        font-size: 30px;
        font-weight: 900;
        text-align: left;
        color: #fff;
    }
    .texts p{
        font-size: 10px;
    font-weight: normal;
    color: rgba(255, 255, 255, 65%);
    text-align: left;
    }

    .banner-text-content .btn-1, .banner-text-content .btn-2{
        width: 169px;
        height: 54px;
    }
    /* banner section styles end*/

    /* section-1 styles here  */
    .section-1{
        margin: 0 auto;
        width: 100%;
        padding-bottom: 30px;
    }

    .section-1 h1{
        padding-top: 0px;
    }

    .img-box-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-box-container p{
        margin-bottom: 40px;
    }

    .section-1>p{     
        /* width: 316px; */
        margin: 0 30px;
        font-size: 15px;
        margin-bottom: 60px;
    }



    /* section-1 styles ends here  */

    /* section-2 styles here  */
    .section-2{
        flex-direction: column;
        margin: 0px 30px;
        gap: 30px;
        padding-left: 33px;
        margin-bottom: 30px;
    }

    .section-2-text-contents button{
        width: 450px;
        height: 64px;
        font-size: 18px;
        text-align: center;
    }

    #img-sec-2{
        width: 100%;
    }
    /* section-2 styles ends here  */
    /* section-3 styles here  */
    .section-3-txt-content {
        margin: 0px 30px;
    }

    .section-3-txt-content p {
        line-height: 30px;
        margin-bottom: 50px;
        letter-spacing: 0.3px;
    }

    .bmi-calculator-table{
        margin: 0px 30px;
    }

    .bmi-calculator-container{
        padding: 35px 0;
        flex-direction: column;
        align-items: normal;
    }

    .bmi-txt{
        margin: 0px 30px;
    }

    table{
        margin-bottom: 45px;
        width: 100%;
    }

    .bmi-calculator-table h3{
        margin-bottom: 23px;
    }

    .inpt-height input, .inpt-weight input, .inpt-age input, .sel-sex select{
        width: 250px;
        height: 48px;
    }

    .hwas{
        margin: 0 30px;
    }

    .sel-factor select{
        width: 514px;
        height: 48px;
        margin: 0 30px;
        margin-bottom: 35px;
    }

    .inpt-button button{
        margin: 0 30px;
    }

    .section-3{
        margin-bottom: 0px;
    }
    /* section-3 styles ends here  */

    /* section-4 styles here  */
    .section-4 {
        margin: 0px 30px;
        padding: 66px 0;
    }

    .section-4>p{
        font-size: 16px;
        width: 309px;
        height: 124px;
        margin: 0 auto;

    }

    .section-4-img-container{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        padding: 30px;
    }
    /* section-4 styles ends here  */
    /* section-5 styles here  */
    .section-5-content-1, .section-5-content-2, .section-5-content-3{
        /* flex-direction: column; */
        margin: 0 30px;
        gap: 20px;
        margin-bottom: 30px;
    }

    .content-3{
        width: 250px;
    }

    .section-5-container{
        margin: 0;
    }

    .section-5-content-1 img, .section-5-content-2 img, .section-5-content-3 img {
        width: 45%;
        border-radius: 20px;
    }

    .section-5-content-1, .section-5-content-3 {
        background: linear-gradient(90deg,rgba(255, 255, 255, 0.1), black);
    }

    .section-5-content-2{
       background-image: linear-gradient(90deg, black, rgba(255, 255, 255, 0.1));
    }

    .btnlike-1, .btnlike-2, .btnlike-3 {
        border: 2px solid #E6533C;
        width: 100%;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        margin-bottom: 20px;
        font-style: italic;
    }

    .section-5-content-1, .section-5-content-2, .section-5-content-3{
        padding: 20px;
    }
    /* section-5 styles ends here  */
    /* section-6 styles here  */
    .section-6{
        padding: 0 30px;
        padding-top: 50px;
    }
    .pricing-content {
        margin: 0px auto;
        flex-direction: column;
    }

    .pricing-container .pricing-1, .pricing-2, .pricing-3 {
        width: 100%;
        margin-bottom: 30px;
    }

    .section-6 button {
        padding: 0 auto;
    }

    .pricing-2{
        background-color: rgba(0, 0, 0, 1);
        width: 100%;
        height: 740px;
        padding: 50px 40px;
        box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }

    .pricing-2 ul li{
        line-height: 70px;
    }

    .pricing-2 h2{
        font-size: 48px;
    }

    .pricing-2 h1{
        font-size: 64px;
    }

    .pricing-2 p{
        font-size: 23px;
    }

    .pricing-2 ul li{
        font-size: 16px;
    }

    .section-6 button{
        font-size: 18px;
        font-weight: 600;
        width: 224px;
        height: 54px;
        transition: background-color 0.5s ease;
        padding: 0 auto;
        /* position: absolute;
        left: 30px; */
    }

    .pricing-1 button, .pricing-3 button{
        margin-left: 100px;
    }

    .pricing-2 p{
        margin-bottom: 20px;
    }

    .section-6>p {
        width: 80%;
    }

    .section-6>h1{
        font-size: 60px;
        margin-bottom: 50px;
    }


    /* review section styles here  */
    .review-container{
        flex-direction: column;
        margin: 0 30px;
    }

    .reviewbox-1, .reviewbox-2, .reviewbox-3{
        width: 100%;
    }
    /* review section styles ends here  */
    /* section-6 styles ends here  */
}
/* mobile device ends here  */